body{ 
    border: 20px;
    background-color: darkgrey;
    padding: 100px;
    height: 85vh;
    background-image: url("assets/download\ \(1\).jpeg");
    background-repeat: no-repeat;
    background-size: 1280px 480px;
}
.body img{
    max-width: 200%;
    height: 200px;
}
h4{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
content{ 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;  
    color:black;
    text-align: justify;
    z-index: 1;
   }
.navigation {
    display: flex;
    color:black ;
    justify-content: flex-end;
    align-items: center;
}
.Search-engine{
list-style-type: none;
}
.Search-engine li{
    display: inline;
    margin-right: 16px;
}

